<h1>Title</h1>

<% if( username === undefined ) { %>
<p><form method="POST" action="/login"><input type="text" name="username"><button type="submit">Login</button></form> <a href="/register">Register</a></p>
<% } else { %>
 <p>Hi <%= username %> <form method="POST" action="/logout"><button type="submit">Logout</button></form></p> 
<% } %>