<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: Login</title>
</head>
<body>
    <h1>Welcome : Login</h1>
    <form method="POST" action="/login">
    <p>
        <label for="username">User name</label>
        <input id="username" type="text" name="username">
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </p>

        <button type="submit">Login</button>
    </form>
</body>
</html>