<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: Registration</title>
</head>
<body>
    <h1>Welcome : Please register to better server you</h1>

    <form method="POST" action="/register">
    <p>
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </p>

        <button type="submit">Register</button>
    </form>

    <p>If you already have an account you can <a href="/login">login</a>.</p>

</body>
</html>
<!-- registration.ejs -->