<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: URL not found</title>
</head>
<body>
    <header>
        <% include ../views/partials/_header %>
    </header>
 
    <h1>Shorten URL not found</h1>

    <p>Shorten URL not found</p>
       
    <p>View URLs on the <a href='/urls'>database</a></p>

    <p>Shorten a new <a href='/urls/new'>URL</a></p>
</body>
</html>