<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: URL details</title>
</head>
<body>
    <header>
            <% include ../views/partials/_header %>
    </header>

    <h1>URL:</h1>
    <ul>
    <li>The shortURL <b><%= shortURL %></b> points to <form method="POST" action="/urls/<%= shortURL %>"><input type="text" value="<%= longURL %>" name="longURL" style="width: 300px"> <button type="submit">Update</button></form></li>
    </ul>
    <p>View URLs on the <a href='/urls'>database</a></p>

</body>
</html>